.minecraftServerList
{
    
    user-select: none;
    background-color: rgb(255, 255, 255) ;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 30px;
    height: 220px;
    width: fit-content;
    outline-offset: -1px;
    outline-width: 7px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    transition: scale 0.2s ease, top 0.3s ease ;
    scale: 1;
}
.minecraftServerList:hover
{
    scale: 1.1;
}

.pixelify-sans {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
  }
.Topbar{
    position:absolute;
    top: 0px;
    right: 0px;
    z-index: -100;
    width: 100%;
    height:200px;
    background-color: #168C42;
}
.inputfield
{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 35px;
    font-size: 18px;
    color: rgb(62, 62, 62);
    font-family:"Pixelify Sans", serif;
    outline: none;
    outline-width: 0px;
    border: none;
    
}
.onlinetext{
    position: absolute;
    right: 0px;
    top: 0px;
    font-family:"Pixelify Sans", serif;
    color: rgb(152, 214, 157);
}
.PageButton
{
    font-family:"Pixelify Sans", serif;
    font-size: 20px;
    bottom :auto;
    left: 265px;
    position: absolute;
    outline-color:#107033;
    outline-width: 10px;
    outline-style: solid;
    outline-offset: -1px;
    width: fit-content;
    height: fit-content;
    background-color: #107033;
    font-weight: 700;
    color:#ffffff;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1;
    transition: scale 0.1s ease, background-colour 0.1s ease;
}
.PageButton:hover
{
    scale: 1.07;
    background-color: #0F3B1F;
    outline-color:#0F3B1F ;
    box-shadow: 2;
}
.PageButton:active
{
    scale: 0.95;
}
.greenDot
{
    height: 15px;
    width: 15px;
    background-color: #168C42;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
}